body {
    background-color: grey;
}

#jumbo{
    background-color:grey;
}

#weather-results{
    background-color: grey;;
    display: flex;
    flex-direction:column;
    box-shadow: 1px black;
    align-items: center;
}

.weather-card {
  margin: 60px auto;
  height: 740px;
  width: 450px;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

#foreCast{
    background-color:grey;
}

#five{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    box-shadow: 1px black;
    margin-top: 10px;
}