#weather-results{
    background-color: grey;;
    display: flex;
    flex-direction:column;
    box-shadow: 1px black;
    align-items: center;
}

#foreCast{
    background-color:grey;
}

#five{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    box-shadow: 1px black;
    margin-top: 10px;
}